<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <div style="margin: 10px">
    <h1>Confirmation page</h1>
    <br />

    <a href="/" style="color:bisque">Main page</a>
    </div>

</body>

</html>